.sct-timer{
    width: 100%;
    min-height: calc(100vh - var(--footer-height));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 20vh; */
}
.timer{
    font-size: 22vh;
    line-height: 1;
}
.timer-controls{
    padding-top: 30px;
    display: grid;
    gap: 15px;
    grid-row: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
@media(max-width: 700px){
    .timer{
        font-size: 22vw;
        line-height: 1;
    }
}