.App {
    font-family: "Open Sans Condensed", sans-serif;
    --footer-height: 80px; 
}

footer {
	display: flex;
	background-color: hsl(209 15% 20% / 1);
	width: 100%;
    height: var(--footer-height);
    color: white;
}
footer ul {
	margin: 0;
	display: flex;
    flex-wrap: wrap;
    color: inherit;
    align-items: center;
}
footer li {
	list-style: none;
    color: inherit;
	margin-right: 15px;
}
footer a {
    color: inherit;
    font-size: 1.5em;
}
